[user]
	name = Liza Chevalier
	email = lizalc@pm.me
	signingkey = DED1082704070A10!
[help]
	autocorrect = 1
[diff]
	colorMoved = default
[merge]
	tool = vscode
[mergetool]
	keepBackup = false
[mergetool "vscode"]
	cmd = code-insiders --wait $MERGED
[commit]
	verbose = true
	gpgsign = true
[fetch]
	prune = true
	showForcedUpdates = true
[core]
	autocrlf = input
	pager = less -F
	excludesfile = ~/.files/git/.global.gitignore
	editor = nvim
[init]
	defaultBranch = main
[submodule]
	recurse = true
[rebase]
	autoStash = true
	autoSquash = true
[checkout]
	defaultRemote = origin
[pull]
	ff = only
[pager]
	log = diff-highlight | less -x1,5 -F
	show = diff-highlight | less -x1,5 -F
	diff = diff-highlight | less -x1,5 -F
[color "diff-highlight"]
	oldHighlight = ul
	oldReset = noul
[includeIf "gitdir/i:%(prefix)//mnt/c/**"]
	path = ~/.files/git/.wsl.gitconfig
[includeIf "gitdir/i:**/work/**"]
	path = ~/.files/git/.work.gitconfig
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
